<!DOCTYPE html>
<html lang="en" style="width: 100%; overflow-x: hidden;">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Victoria Juan Zhou">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dosis:500|Raleway" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <title>Victoria Juan Zhou</title>
    </head>
    <body style="padding: 150px !important">
        <h1 style="font-family: 'Dosis', sans-serif; color: #4b8bf2;">Hello, my name is Victoria.</h1>
        <br>
        <br>
        <p style="font-family: 'Raleway', sans-serif;">
            I'm a computer science undergrad at The Open University, <br>with a focus in computer science and mathematics. <br>
        <p style="font-family: 'Raleway', sans-serif;">
            After graduating this summer, I'll be starting as a Software Development Engineer at Amazon.
        </p>
        <p style="font-family: 'Raleway', sans-serif;">
            I'm currently working on <a href="https://github.com/victoria-zhou" style="color: #4b8bf2;">practice</a>, <br>a Google Chrome extension for Reddit to aid design critique quality through real examples.
        </p>
        <p style="font-family: 'Raleway', sans-serif;">
            Check out my <a href="./Victoria_Juan_Zhou_Resume.pdf" style="color: #4b8bf2;">resume</a>, and <a href="https://github.com/victoria-zhou" style="color: #4b8bf2;">Github</a>. <br>Feel free to me email me at <a href="mailto:victoria.juan.zhou@outlook.com" target="blank" style="color: #4b8bf2;">victoria.juan.zhou@outlook.com</a>.
        </p>
        <br>
        <br>
        <p style="font-family: 'Raleway', sans-serif; font-size: .9em">
            © 2018 Victoria Juan Zhou 
        </p>
    </body>
</html>
